<div
  class="breadcrumbs-section-wrapper {% if section.settings.enable_container %}container{% endif %}"
  style="
    padding-top: {{ section.settings.padding_top | divided_by: 16.0 }}rem;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 16.0 }}rem;
  "
>
  {% render 'breadcrumbs' %}
</div>

{% stylesheet %}
  .breadcrumbs,
  .breadcrumbs a,
  .breadcrumbs span {
    color: var(--labels-quarternary, #7a7e85) !important;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.breadcrumbs",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_container",
      "label": "Enable container",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:settings.padding_top",
      "default": 24,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:settings.padding_bottom",
      "default": 24,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.breadcrumbs",
      "category": "Navigation"
    }
  ]
}
{% endschema %}
